<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dong.yomoo">

    <uses-permission android:name="com.ushopal.catwoman.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!--欢迎页面-->
        <activity
            android:name=".activities.common.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--注册登录-->
        <activity
            android:name=".activities.common.RegisterActivity"
            android:label="注册"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.common.CompleteInfoActivity"
            android:label="完善资料"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.common.LoginActivity"
            android:label="登录"
            android:launchMode="singleTask" />

        <!-- farmer home-->

        <activity
            android:name=".activities.farmer.FarmerHomeActivity"
            android:label="首页"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.farmer.profile.tab1.FarmerAccountInfoActivity"
            android:label="账户信息"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.farmer.profile.tab2.FarmerInfoActivity"
            android:label="个人信息"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.farmer.profile.tab3.BreedingInfoDemandPublishActivity"
            android:label="发布需求"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.farmer.services.tab1.LivestockDemandListActivity"
            android:label="牲畜需求"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.farmer.services.tab2.VendorListActivity"
            android:label="饲料销售商"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.farmer.services.tab3.BreedingInfoListActivity"
            android:label="养殖技术"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.farmer.services.tab3.BreedingInfoDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.farmer.services.tab2.VendorInfoDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.farmer.services.tab2.FarmerOrderFodderActivity"
            android:label="商品"
            android:launchMode="singleTask" />

        <!--vendor home-->
        <activity
            android:name=".activities.vendor.VendorHomeActivity"
            android:label="首页"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.vendor.FodderStockListActivity"
            android:label="我的库存"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.vendor.HistoryOrderListActivity"
            android:label="我的订单"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.vendor.OrderEntryDetailActivity"
            android:label="订单详情"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.vendor.PurchaseInputActivity"
            android:label="录入进货信息"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.vendor.PurchaseListActivity"
            android:label="进货列表"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.vendor.BreedingInfoPublishActivity"
            android:label="发布养殖技术"
            android:launchMode="singleTask" />

        <!--butcher home-->
        <activity
            android:name=".activities.butcher.ButcherHomeActivity"
            android:label="首页"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.butcher.LivestockDemandPublishActivity"
            android:label="发布需求"
            android:launchMode="singleTask" />

        <!--supporter home-->
        <activity
            android:name=".activities.supporter.SupporterHomeActivity"
            android:label="首页"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.farmer.services.FodderStockDetailActivity"
            android:label="饲料详情"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.farmer.services.tab1.LivestockDemandDetailActivity"
            android:label="需求"
            android:launchMode="singleTask" />
        <activity android:name=".activities.common.FarmerInfoDetailActivity" />

    </application>

</manifest>